{% extends 'admin_base.html' %}
{% load static i18n %}


{% block content %}
    <div class="container">
        {% if CUSTOM_ROLES.ADMIN in DB_ROLES %}
            {% include 'utils/_messages.html' %}
            <form method="post" action="">
                {% csrf_token %}

                <button type="submit" class="btn btn-sm btn-danger">{% trans 'Синхронизировать' %}</button>
            </form>
            <hr/>
        {% endif %}
        {% if CUSTOM_ROLES.SPEC in DB_ROLES %}
            <h3 class="text-center my-2">{% trans 'Список факультетов' %}</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Название' %}</th>
                        <th scope="col">{% trans 'Короткое' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for faculty in faculties %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <a href="{% url 'bsadmin:speciality' faculty_id=faculty.id %}">
                                    {{ faculty.title }}
                                </a>
                            </td>
                            <td>{{ faculty.short_name }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class="text-center">{% trans 'Нет данных' %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
           {% include 'utils/_access.html' %}
        {% endif %}
    </div>
{% endblock %}