*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

i.fa {
    font-size: 16px;
}

p {
    font-size: 16px;
    line-height: 1.42857143;
}

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: #A00E07;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #A00E07;
    border-color: #A00E07;
}

.page-link, .page-link:hover {
    color: #A00E07;
}

.btn-danger {
    background: #A00E07 !important;
}

.header .logo {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header #menu-action {
    display: block;
    float: left;
    width: 60px;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header #menu-action i {
    display: inline-block;
    margin: 0 5px;
}

.header #menu-action span {
    width: 0px;
    display: none;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header #menu-action:hover {
    background: rgba(0, 0, 0, 0.25);
}

.header #menu-action.active {
    width: 250px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header #menu-action.active span {
    display: inline;
    width: auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sidebar {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 50px;
    height: 100%;
    width: 60px;
    background: #fff;
    border-right: 1px solid #ddd;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sidebar:hover,
.sidebar.active,
.sidebar.hovered {
    width: 250px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    display: block;
}

.sidebar ul li a {
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    color: #444;
    text-align: left;
}

.sidebar ul li a i {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    -webkit-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.sidebar ul li a span {
    display: inline-block;
    height: 60px;
    line-height: 60px;
}

.sidebar ul li a:hover {
    background-color: #eee;
}

.sidebar ul li a:hover i {
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    -o-animation-name: swing;
    animation-name: swing;
}

.main {
    position: relative;
    display: block;
    top: 50px;
    left: 0;
    padding: 15px;
    padding-left: 75px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-active {
    color: #354adc !important;
    background-color: #eee;
}

.main .jumbotron {
    background-color: #fff;
    padding: 30px !important;
    border: 1px solid #dfe8f1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.main .jumbotron h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        -ms-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        -ms-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        -ms-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        -ms-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        -ms-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.swing {
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
}

.help-block {
    color: #ac2925;
    margin-bottom: 0;
}

.error-block {
    color: #A00E07;
    margin-bottom: 0;
}

.success-block {
    color: #238027;
    margin-bottom: 0;
}

input[type='checkbox'] {
    margin-top: 3px;
    width: 16px;
    height: 16px;
}

input[type='file'] {
    font-size: 12px;
    height: auto;
}

.controls {
    position: relative;
    overflow: hidden;
}

.control-group {
    margin-bottom: 10px;
}

label {
    margin-bottom: 0;
}

.v_flex {
    display: flex;
    justify-content: space-between;
}

.search-form-border {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #000;
}


.page-link {
    padding: .4rem .7rem;
    margin-left: -1px;
    line-height: 1.15;
}

.django-ckeditor-widget {
    width: 100%;
}

/*treeeeeeeeeeeeeeee*/
.tree {
    /*min-height: 20px;*/
    padding: 19px;
    margin-bottom: 20px;
    /*background-color: #fbfbfb;*/
    /*border: 1px solid #999;*/
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
    /*-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)*/
}

.tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0 5px;
    position: relative
}

.tree li::before, .tree li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto
}

.tree li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px
}

.tree li::after {
    border-top: 1px solid #999;
    height: 20px;
    top: 25px;
    width: 25px
}

.tree li .v_flex span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none
}

.tree li.parent_li > .v_flex > span {
    cursor: pointer
}

.tree > ul > li::before, .tree > ul > li::after {
    border: 0
}

.tree li:last-child::before {
    height: 30px
}

.tree li.parent_li > .v_flex > span:hover, .tree li.parent_li > .v_flex > span:hover + ul li .v_flex span {
    background: #eee;
    border: 1px solid #94a0b4;
    color: #000
}

/*end treeeeeeeeeeeeeeeeeeeeeee*/

.login-form {
    width: 444px;
    margin: 0 auto;
    padding: 30px 0;
}


.login-form form {
    color: #434343;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.logo-wrapper {
    width: 300px;
    height: 189px;
    margin: 0 auto;
}

.logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.login-form .agreement-wrapper {
    position: relative;
}

.login-form input[type="checkbox"] {
    margin-top: 2px;
    height: 16px;
    width: 16px;
}

.login-form form a {
    position: absolute;
    /* top: 2px; */
    font-size: 15px;
    left: 22px;
}

.login-form a {
    color: #A00E07;
}


.form-control:focus {
    box-shadow: 0 0 0 .1rem #A00E07;
    border-color: #A00E07;
}


.active a {
    color: #fff !important;
    background: #A00E07;
}

.active a:hover {
    color: #000 !important;
    background: #fff;
}

#custom_transcript_student {
    display: none;
}


@media (max-width: 768px) {
    .login-form {
        width: 100%;
    }

    .logo-wrapper {
        width: 100%;
    }

    .login-form form a {
        line-height: 15px;
    }
}