{% extends 'admin_base.html' %}
{% load static i18n crispy_forms_tags cms_tags %}


{% block content %}
    <div class="container">
        <h3 class="text-center">{% trans 'Выберите факультет:' %}</h3>
        <hr/>
        <div class="row">
            {% for faculty in faculties %}
                <div class="col-md-3 mb-2">
                    <div class="card h-100 d-flex flex-column">
                        <div class="card-body flex-grow-1">
                            <a href="{% url 'faculty-transcript-category' faculty_id=faculty.id %}">
                                <h6 class="card-title mb-0">{{ faculty.title }} ({{ faculty.short_name }})</h6>
                            </a>
                            {% trans 'Зарегистр. справки:' %} {{ faculty.total_documents }} <br/>
                            {% trans 'Использванные справки:' %} {{ faculty.used_documents }} <br/>
                            {% trans 'Бракованные справки:' %} {{ faculty.defective_documents }} <br/>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
