{% extends 'admin_base.html' %}
{% load static i18n %}


{% block content %}
    <div class="container">
        {% if CUSTOM_ROLES.STDEBT in DB_ROLES %}
            <div class="row">
                {% if history %}
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="card border-success mb-3 text-center">
                            <div class="card-header bg-transparent border-success">
                                <h4 class="mb-0 text-primary text-center">{{ student.student_fio }}</h4>
                            </div>
                            <div class="card-body text-left">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="list-group">
                                            <li class="list-group-item"><b> Приказ:</b> № {{ student.info }}</li>
                                            <li class="list-group-item"><b>Дата:</b> {{ student.date_movement }}</li>
                                            <li class="list-group-item"><b>Статус:</b> {{ student.id_movement_info }}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="list-group">
                                            <li class="list-group-item"><b> Форма обучения:</b> {{ student.edu_form }}
                                            </li>
                                            <li class="list-group-item"><b>Форма оплаты:</b> {{ student.payment_form }}
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                {% else %}
                    <div class="col-md-5">
                        {% include 'utils/_messages.html' %}
                        <div class="text-center">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group mb-1">
                                    <h4 class="form-label text-center">
                                        Комментарий и решение
                                    </h4>
                                    <textarea class="form-control form-control-sm" rows="3" name="comment_text"
                                              id="comment"
                                              required></textarea>
                                </div>
                                <div class="form-group mb-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck"
                                               name="end">
                                        <label class="form-check-label" for="disabledFieldsetCheck">
                                            Завершить (без долгов)
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fas fa-comment"></i> Комментировать
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card border-success mb-3 text-center">
                            <div class="card-header bg-transparent border-success">
                                <h4 class="mb-0 text-primary text-center">{{ student.student_fio }}</h4>
                            </div>
                            <div class="card-body text-left">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="list-group">
                                            <li class="list-group-item"><b> Приказ:</b> № {{ student.info }}</li>
                                            <li class="list-group-item"><b>Дата:</b> {{ student.date_movement }}</li>
                                            <li class="list-group-item"><b>Статус:</b> {{ student.id_movement_info }}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="list-group">
                                            <li class="list-group-item"><b> Форма обучения:</b> {{ student.edu_form }}
                                            </li>
                                            <li class="list-group-item"><b>Форма оплаты:</b> {{ student.payment_form }}
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <hr/>
            <div class="table-responsive">
                <table class="table table-bordered table-sm table-responsive-md"
                       id="table-ajax-facultytranscript">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Комментарий и решение' %}</th>
                        <th scope="col">{% trans 'Дата создания' %}</th>
                    </tr>
                    </thead>
                    <tbody class="order">
                    {% for comment in comments %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ comment.comment_text }}</td>
                            <td>{{ comment.created_at|date:"d.m.Y H:i" }}</td>
                        </tr>
                    {% empty %}
                        <tr class="table-warning nosort">
                            <td colspan="100%" class="text-center">
                                <small class="text-muted">{% trans 'Пусто' %}</small>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {% include 'utils/_access.html' %}
        {% endif %}
    </div>

    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Подтверждение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы подтверждаете, что студент не имеет задолженностей и процесс можно завершить?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" id="modalCancel" data-dismiss="modal">Отмена
                    </button>
                    <button type="button" class="btn btn-sm btn-success" id="modalConfirm">Подтвердить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            let confirmed = false;

            $("#disabledFieldsetCheck").change(function () {
                if ($(this).prop("checked")) {
                    confirmed = false;
                    $("#confirmationModal").modal("show");
                }
            });

            $("#modalConfirm").click(function () {
                confirmed = true;
                $("#confirmationModal").modal("hide");
            });

            $("#confirmationModal").on("hidden.bs.modal", function () {
                if (!confirmed) {
                    $("#disabledFieldsetCheck").prop("checked", false);
                }
            });
        });
    </script>
{% endblock %}