{% extends 'admin_base.html' %}
{% load static i18n %}


{% block content %}
    <div class="container-fluid">
        {% if CUSTOM_ROLES.STDEBT in DB_ROLES %}
            {% if history %}
                <h3 class="text-center text-success">
                    История студентов, уже прошедших этапы обходного листа
                </h3>
            {% else %}
                <h3 class="text-center text-primary">
                    Студенты, проходящие этапы обходного листа
                </h3>
                <h4 class="text-center text-danger mb-0">Текущий этап ({{ employee.template_stage.stage }})</h4>
            {% endif %}
            <hr/>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <form action="" method="get">
                            <div class="row">
                                <div class="col-md-8">
                                    <label for="search">ФИО / MyEDU ID:</label>
                                    <input type="text" class="form-control form-control-sm" name="search"
                                           placeholder="230795"
                                           id="search"/>
                                </div>
                                <div class="col-md-4">
                                    <div class="my-2 mt-md-4 mb-md-0">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fas fa-search"></i> Поиск
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        {% if not history %}
                            <label for="status-form">Статус:</label>
                            <form action="" method="post" id="status-form">
                                {% csrf_token %}
                                <select class="custom-select custom-select-sm" name="status" id="status-select">
                                    <option value="0" {% if not request.POST.status %}selected{% endif %}>Все</option>
                                    <option value="2" {% if request.POST.status == '2' %}selected{% endif %}>В процессе
                                    </option>
                                    <option value="1" {% if request.POST.status == '1' %}selected{% endif %}>Отложенные
                                    </option>
                                    <option value="3" {% if request.POST.status == '3' %}selected{% endif %}>История
                                    </option>
                                </select>
                            </form>
                        {% else %}
                            <label for="status-form">Статус:</label>

                            <select class="custom-select custom-select-sm" name="status" id="status-select">

                                <option value="0" {% if not request.POST.status %}selected{% endif %}>Все</option>
                                <option value="2" {% if request.POST.status == '2' %}selected{% endif %}>В процессе
                                </option>
                                <option value="1" {% if request.POST.status == '1' %}selected{% endif %}>Отложенные
                                </option>
                                <option value="3" selected>История</option>
                            </select>
                        {% endif %}
                    </div>
                </div>
            </div>

            <hr/>

            <div class="table-responsive">
                <table class="table table-bordered table-sm"
                       id="table-ajax-facultytranscript">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'ФИО' %}</th>
                        <th scope="col">{% trans 'Кафедра' %}</th>
                        <th scope="col">{% trans 'Специальность' %}</th>
                        <th scope="col">Приказ</th>
                        <th scope="col">Дата приказа</th>
                        <th scope="col">Статус</th>
                        {% if not history %}
                            <th scope="col">Ваш вердикт</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody class="order">
                    {% for student in students %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                {% if history %}
                                    <a href="{% url 'stepper:debts-comment-history' id=student.current_trajectory_id %}">
                                        {{ student.student_fio }} ({{ student.myedu_id }})
                                    </a>
                                {% else %}
                                    <a href="{% url 'stepper:debts-comment' id=student.current_trajectory_id %}">
                                        {{ student.student_fio }} ({{ student.myedu_id }})
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ student.myedu_faculty }}</td>
                            <td>{{ student.myedu_spec }}</td>
                            <td>{{ student.order|default:"-" }}</td>
                            <td>{{ student.order_date|default:"-" }}</td>
                            <td>{{ student.order_status|default:"-" }}</td>
                            {% if not history %}
                                <td>{{ student.last_comment|default:"-" }}</td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr class="table-warning nosort">
                            <td colspan="100%" class="text-center">
                                <small class="text-muted">{% trans 'Пусто' %}</small>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% include "utils/_pagination.html" with page_obj=students %}

            </div>
        {% else %}
            {% include 'utils/_access.html' %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        {% if history %}
            const select = document.getElementById('status-select');
            select.addEventListener('change', function () {
                const value = this.value;

                if (value !== 3) {
                    const form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/stepper/debts/';

                    const csrfToken = '{{ csrf_token }}';
                    form.innerHTML = `
            <input type="hidden" name="status" value="${value}">
            <input type="hidden" name="csrfmiddlewaretoken" value="${csrfToken}">
        `;

                    document.body.appendChild(form);
                    form.submit();
                }
            });
        {% else %}
            document.getElementById('status-select').addEventListener('change', function () {
                document.getElementById('status-form').submit();
            });
        {% endif %}

    </script>
{% endblock %}