{% extends 'admin_base.html' %}
{% load static i18n custom_filters %}

{% block content %}
    <div class="container">

        <h4 class="text-center mb-0">Модуль#2: {{ student.student_fio }}</h4>
        <p class="mb-0 text-primary text-center">({{ student.myedu_faculty }} - {{ student.myedu_spec }})</p>
        <hr/>
        {% if CUSTOM_ROLES.STSPEC in DB_ROLES %}
            {% if has_active_cs %}
                <div class="alert alert-danger" role="alert">
                    Процесс выдачи обходного листа остается незавершенным; требуется его завершение. Есть непогашенные
                    задолженности.
                </div>
            {% else %}
                {% include 'utils/_messages.html' %}
                {% if not issuance %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Номер диплома</label>
                                    <input type="text" name="doc_number" class="form-control form-control-sm" required
                                           value="{{ form.doc_number.value|default:'' }}" placeholder="0000012345">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Регистрационный номер</label>
                                    <input type="text" name="reg_number" class="form-control form-control-sm"
                                           value="{{ form.reg_number.value|default:'' }}" placeholder="1234">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Дата выдачи</label>
                                    <input type="date" name="date_issue" class="form-control form-control-sm" required
                                           value="{{ form.date_issue.value|default:'' }}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Паспортные данные</label>
                                    <input type="text" name="inn" class="form-control form-control-sm"
                                           value="{{ form.inn.value|default:'' }}" placeholder="ID123456">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 text-center">
                                <div class="form-group" id="openSignature">
                                    <label>Вставьте подпись</label>
                                    <div class="signature-preview-container mb-3">
                                        <img id="signature-preview" class="signature-preview-img"
                                             src="{% static 'img/signature.jpg' %}" alt="Нет подписи">
                                    </div>
                                    <button type="button" class="btn btn-sm btn-primary">
                                        <i class="fas fa-signature"></i> Подписаться
                                    </button>
                                </div>
                                {#                                <div class="form-group">#}
                                {#                                    <canvas id="signature-pad"#}
                                {#                                            height="200"#}
                                {#                                            style="border: 2px solid #000; border-radius: 6px; background: #fefeff;">#}
                                {##}
                                {#                                    </canvas>#}
                                {#                                    <br>#}
                                {#                                    <button type="button" class="btn btn-sm btn-warning" onclick="clearSignature()">#}
                                {#                                        <i class="fas fa-broom"></i> Очистить#}
                                {#                                    </button>#}
                                {#                                </div>#}
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Примечание (если есть)</label>
                                    {#                                    <input type="text" name="note" class="form-control form-control-sm"#}
                                    {#                                           value="{{ form.note.value|default:'' }}" placeholder="123456789">#}
                                    <textarea name="note" class="form-control" placeholder="Доверенность..."
                                              rows="4">{{ form.note.value|default:'' }}</textarea>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">

                                <div class="form-group">
                                    <label>Снимите студента на камеру</label>
                                    <div class="signature-preview-container mb-3">
                                        <img id="profile-preview"
                                             class="signature-preview-img"
                                             src="{% static 'img/nophoto.jpg' %}"
                                             alt="Нет подписи">
                                    </div>
                                    <button type="button" class="btn btn-sm btn-danger"
                                            data-toggle="modal"
                                            data-target="#cameraModal">
                                        <i class="fas fa-camera"></i> Камера
                                    </button>
                                </div>
                            </div>


                        </div>
                        <input type="hidden" name="profile" id="photo">
                        <input type="hidden" name="signature" id="signature">
                        <hr/>
                        <div class="text-center">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fas fa-save"></i> Сохранить
                            </button>
                            {% if diploma %}
                                <button type="button" class="btn btn-sm btn-success" data-toggle="modal"
                                        data-target="#syncs">
                                    <i class="fas fa-burn"></i> Синхронизировать
                                </button>
                            {% endif %}
                        </div>
                    </form>
                {% endif %}
            {% endif %}
            <hr/>
            {% if issuance %}
                <div class="card mb-3" style="max-width: 650px;">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            <div class="signature-preview-container">
                                {% if issuance.signature %}
                                    <img src="{{ issuance.signature.url }}" class="signature-preview-img" alt="Подпись">
                                {% else %}
                                    <img src="{% static 'img/No-photo-m.png' %}" class="signature-preview-img"
                                         alt="Нет подписи">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Обходной лист №: {{ student.id }}
                                </h5>

                                <h6 class="card-text">
                                    № справки: {{ issuance.id }}<br/>
                                    Регистрационный №: {{ issuance.reg_number }}<br/>
                                    Диплом №: {{ issuance.doc_number }}<br/>
                                    Дата выдачи диплома: {{ issuance.date_issue|date:"d-m-Y" }} <br/>
                                    Паспортные данные: {{ issuance.inn|default:"-" }} <br/>
                                    Статус: Выдан {% if issuance.status == "received" %} однократно {% else %}
                                    более одного раза {% endif %}<br/>
                                    Примечание: {{ issuance.note|default:"-" }}<br/>
                                    Дата создания записи: {{ issuance.created_at|date:"d-m-Y" }}
                                </h6>
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                        data-target="#doubleCS">
                                    <i class="fas fa-question-circle"></i> Выдать дубликат
                                </button>

                                <button type="button" class="btn btn-sm btn-danger"
                                        data-toggle="modal"
                                        data-target="#removeCS">
                                    <i class="fas fa-trash-alt"></i> Удалить
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="signature-preview-container">
                                {% if issuance.profile %}
                                    <img src="{{ issuance.profile.url }}" class="signature-preview-img" alt="Подпись">
                                {% else %}
                                    <img src="{% static 'img/No-photo-m.png' %}" class="signature-preview-img"
                                         alt="Нет подписи">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}

            {% endif %}
        {% else %}
            {% include 'utils/_access.html' %}
        {% endif %}
    </div>

    <div class="modal fade" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="cameraModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cameraModalLabel">Сделать фото</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="camera">
                        <div class="camera-ring"></div>
                    </div>
                    <button type="button" class="btn btn-danger mt-3" onclick="takeSnapshot()">
                        <i class="fas fa-camera"></i> Снять
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Фотография</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="imageModalContent" src="" class="img-fluid" style="display:none;"/>
                    <p id="noImageText" style="display:none;">Фотография не предоставлена</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="doubleCS" tabindex="-1" aria-labelledby="doubleCSLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'stepper:spec-part-double' id=student.id myedu_id=student.myedu_id %}"
                      method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="doubleCSLabel">Дубликат диплома</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>Вы действительно хотите выдать дубликат диплома?</h6>
                        <input placeholder="Причина..." type="text" name="history" class="form-control" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-sm btn-primary">Уверен(-а)</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="syncs" tabindex="-1" aria-labelledby="syncs_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'stepper:spec-sync' id=student.id myedu_id=student.myedu_id %}"
                      method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="syncs_label">Синхронизация диплома</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>Вы действительно хотите синхронизировать диплом?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Отмена</button>

                        <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-burn"></i>
                            Синхронизировать
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removeCS" tabindex="-1" aria-labelledby="removeCSCSLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'stepper:spec-part-remove' id=student.id myedu_id=student.myedu_id %}"
                      method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="removeCSCSLabel">Процесс удаления</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>Вы действительно хотите удалить?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Удалить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ПОЛНОЭКРАННЫЙ CANVAS -->
    <div id="signatureScreen">
        <canvas id="signatureCanvas"></canvas>
        <div class="signature-controls">
            <button class="btn btn-primary" id="saveSignature">Сохранить</button>
            <button class="btn btn-danger" id="clearSignature">Очистить</button>
            <button class="btn btn-warning" id="cancelSignature">Отмена</button>
        </div>
    </div>
{% endblock %}


{% block head_js_link %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">


    </script>
    <script src="{% static 'js/signature.js' %}"></script>
{% endblock %}