{% extends 'admin_base.html' %}
{% load static i18n %}


{% block content %}
    <div class="container-fluid">

        <h4 class="text-center mb-0">Модуль#2: {{ title }}</h4>
        <hr/>

        {% if CUSTOM_ROLES.STSPEC in DB_ROLES %}
            <div class="row">
                <div class="col-md-10">
                    <form action="" method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-3">
                                <label for="search">ФИО / MyEDU ID:</label>
                                <input type="text" class="form-control form-control-sm" name="search"
                                       placeholder="230795"
                                       id="search"/>
                            </div>
                            <div class="col-md-3">
                                <label for="faculty">Факультет:</label>
                                <select id="faculty" class="form-control form-control-sm" name="faculty_id">
                                    <option value="0" disabled selected>Выберите факультет</option>
                                    {% for faculty in faculties %}
                                        <option value="{{ faculty.myedu_faculty_id }}">{{ faculty.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="speciality">Специальность:</label>
                                <select id="speciality" class="form-control form-control-sm" name="specialty_id">
                                    <option value="0" disabled selected>Выберите специальность</option>
                                </select>
                            </div>


                            <div class="col-md-2">
                                <div class="mt-4">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fas fa-search"></i> Поиск
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 text-right">
                    <a href="{% url 'stepper:spec-diploma' %}" class="btn btn-sm btn-primary mt-md-4 mt-0">
                        <i class="fas fa-list"></i> Список дипломов
                    </a>
                </div>
            </div>
            <hr/>
            {% include 'utils/_messages.html' %}
            <div class="table-responsive">
                <table class="table table-bordered table-sm table-responsive-md">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">Диплом</th>
                        <th scope="col">Факультет</th>
                        <th scope="col">Специальность</th>
                        <th scope="col">Приказ</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Диплом</th>
                    </tr>
                    </thead>
                    <tbody class="order">
                    {% for student in objects %}
                        <tr id="student-row-{{ student.student_id }}">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ student.student_fio }} ({{ student.student_id }})</td>
                            <td id="diploma-status-{{ student.student_id }}">
                                {% if student.exists %}
                                    <div class="text-center">
                                        Занесено <i class="fas fa-check-square"></i>
                                    </div>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>{{ student.faculty_name }}</td>
                            <td>{{ student.speciality_name }}</td>
                            <td>№ {{ student.info }} <br/> Дата: {{ student.date_movement }}</td>
                            <td>{{ student.id_movement_info }}</td>
                            <td>
                                {% if not student.exists %}
                                    <button class="btn btn-primary btn-sm open-diploma-modal"
                                            data-student-id="{{ student.student_id }}"
                                            data-faculty-id="{{ student.faculty_id }}"
                                            data-speciality-id="{{ student.speciality_id }}">
                                        <i class="fas fa-plus-square"></i> Добавить
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr class="table-warning nosort">
                            <td colspan="100%" class="text-center">
                                <small class="text-muted">{% trans 'Пусто' %}</small>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if not student %}
                <h4 class="text-center text-danger">Не удалось найти студента или отсутствует связь с MyEDU</h4>
            {% endif %}
        {% else %}
            {% include 'utils/_access.html' %}
        {% endif %}

    </div>


    <!-- Модалка Bootstrap -->
    <div class="modal fade" id="diplomaModal" tabindex="-1" role="dialog" aria-labelledby="diplomaModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="diplomaForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="diplomaModalLabel">Добавить диплом</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="diploma-form-body">
                        <!-- Сюда будет загружаться форма через AJAX -->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#faculty').change(function () {
                const faculty_id = $(this).val();

                if (faculty_id) {
                    $.ajax({
                        url: "{% url 'stepper:load-specialities' %}",
                        data: {
                            'faculty_id': faculty_id
                        },
                        success: function (data) {
                            $('#speciality').empty();
                            $('#speciality').append('<option value="">Выберите специальность</option>');
                            $.each(data, function (index, item) {
                                $('#speciality').append('<option value="' + item.myedu_spec_id + '">' + item.title + '</option>');
                            });
                        }
                    });
                } else {
                    $('#speciality').empty();
                    $('#speciality').append('<option value="">Выберите специальность</option>');
                }
            });

            var currentStudentId = null;
            var currentFacultyId = null;
            var currentSpecialityId = null;

            $('.open-diploma-modal').click(function () {
                currentStudentId = $(this).data('student-id');
                currentFacultyId = $(this).data('faculty-id');
                currentSpecialityId = $(this).data('speciality-id');

                $.ajax({
                    url: '{% url "stepper:create-diploma" %}',
                    data: {
                        'student_id': currentStudentId,
                        'faculty_id': currentFacultyId,
                        'speciality_id': currentSpecialityId
                    },
                    type: 'GET',
                    success: function (response) {
                        $('#diploma-form-body').html(response.form_html);
                        $('#diplomaModal').modal('show');
                    }
                });
            });
            $('#diplomaForm').submit(function (event) {
                event.preventDefault();

                var formData = $(this).serialize();
                formData += '&student_id=' + currentStudentId;
                formData += '&faculty_id=' + currentFacultyId;
                formData += '&speciality_id=' + currentSpecialityId;

                $.ajax({
                    url: '{% url "stepper:create-diploma" %}',
                    data: formData,
                    type: 'POST',
                    success: function (response) {
                        if (response.success) {
                            $('#diplomaModal').modal('hide');
                            $('#diploma-status-' + currentStudentId).html('<div class="text-center">Занесено <i class="fas fa-check-square"></i></div>');
                            $('button[data-student-id="' + currentStudentId + '"]').remove();
                        } else {
                            $('#diploma-form-body').html(response.form_html);
                        }
                    }
                });
            });

            $('#diplomaModal').on('hidden.bs.modal', function () {
                $('#diploma-form-body').html('');
            });
        });
    </script>
{% endblock %}