{% extends 'admin_base.html' %}
{% load static i18n %}


{% block content %}
    <div class="container">
        {% if CUSTOM_ROLES.STLIB in DB_ROLES or CUSTOM_ROLES.STECONOM in DB_ROLES or CUSTOM_ROLES.STACNT in DB_ROLES %}
            <h3 class="text-center mb-0">({{ employee.template_stage.stage }}) - {% trans 'Список студентов' %} </h3>
            <hr/>

            <div class="table-responsive">
                <table class="table table-bordered table-sm table-responsive-lg"
                       id="table-ajax-facultytranscript">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'ФИО' %}</th>
                        <th scope="col">{% trans 'Кафедра' %}</th>
                        <th scope="col">{% trans 'Специальность' %}</th>
                    </tr>
                    </thead>
                    <tbody class="order">
                    {% for teacher in teachers %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="{% url 'stepper:teacher-debt-comments' id=teacher.current_trajectory_id %}">
                                    {{ teacher.student_fio }}
                                </a>
                            </td>
                            <td>{{ teacher.myedu_faculty }}</td>
                            <td>{{ teacher.myedu_spec }}</td>
                        </tr>
                    {% empty %}
                        <tr class="table-warning nosort">
                            <td colspan="100%" class="text-center">
                                <small class="text-muted">{% trans 'Пусто' %}</small>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {% include 'utils/_access.html' %}
        {% endif %}
    </div>
{% endblock %}